/* Variaveis Color Dark */
:root, :root[data-theme='dark'] {
  --primary-color: #F0F0F0;

  --header-bg-color: #111217;
  --primary-bg-color: #111111;
  --secondary-bg-color: #28292E;
  --primary-text-color: #2E8B57;
	--secondary-text-color: #4CAF50;
  --shadow-color: #4CAF50 ;
  --primary-border-color: #026e23;

  --title-color: #5bf577f1;
  --text-color: #2E8B57;
  --link-color: #5bf577f1;
  --icon-color: #5bf577f1;
  --alert-color: #EC1B23 ;
  --warning-color: #ffc107 ;
}
/* Variaveis Color Light */
:root[data-theme='light'] {
  --primary-color: #0B0B0F;

  --header-bg-color: #F7F9F9; 
  --primary-bg-color: #E9F1E9; 
  --secondary-bg-color: #c3d3c3; 
  --primary-text-color: #2E8B57;
  --secondary-text-color: #357D5E; 
  --shadow-color: #357D5E;
  --primary-border-color: #026e23; 

  --title-color: #1A3C1A; 
  --text-color: #2E8B57; 
  --link-color: #228B22; 
  --icon-color: #357D5E; 
  --alert-color: #EC1B23 ;
  --warning-color: #ffc107;
}
/* Mundaças especificas no modo Light */
html[data-theme='light'] .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%231C5833' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
html[data-theme='light'] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%232E8B57' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
html[data-theme='light'] input[type="checkbox"] {
  border: 1px solid var(--primary-border-color) !important;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-bg-color);
  border-radius: 50rem;
}
/* Grobal */
body {
  background: var(--primary-bg-color) !important;
  color: var(--text-color) !important;
}
i {
  color: var(--icon-color);
}
h2 {
  font-weight: 600;
  color: var(--title-color) !important;
}
select {
  cursor: pointer;
}
input[type="number"] {
  border: 1px solid var(--primary-border-color);
}
/* Navbar */
.bg--nav{
  background: var(--header-bg-color);
  color: var(--primary-color);
}
.navbar {
  box-shadow: 0 4px 6px var(--shadow-color);
}
.navbar-brand {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
}
.header__toggle {
  display: flex;
  justify-content: flex-start;
}
#toggleTheme {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: ease-in-out .4s;
}
/* Navbar botão */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%232E8B57' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%237FFF7F' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
/* Offcanvas */
.offcanvas-header{
  background: var(--header-bg-color);
}
.offcanvas-body{
  background: var(--secondary-bg-color);
}
.offcanvas-title{
  color: var(--title-color) !important;
}
/* Navegation Navbar */
.navbar-nav{
  margin-top: 3rem;
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}
.nav-item {
  margin-top: 0.625rem;
  padding: 5px;
}
.nav-link {
  filter: drop-shadow(0 0 0.75rem var(--primary-text-color));
  color: var(--link-color) !important;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.nav-link:hover {
  color: var(--primary-color) !important; /* Cor ao passar o mouse */
}
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0;
  height: 5px;
  background-color: var(--primary-text-color); 
  transition: width 0.3s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}
/* Conteúdo visivel/invisivel */
.content-section {
  display: none;
}
.content-section.active {
  display: block;
}
.text--color {
  color: var(--primary-color) !important;
}
/* Table */
.table--custom {
  border: 1px solid var(--primary-border-color);
  border-radius: 10px !important;
  overflow: hidden;
  box-shadow: 0 4px 10px var(--shadow-color);
}
th {
  border-radius: 1px var(--header-bg-color) !important;
  background: var(--header-bg-color) !important;
  color: var(--icon-color) !important;
  text-transform: uppercase;
  border: 1px solid var(--primary-bg-color) !important;
  border-radius: 4px !important;
  padding: 10px !important; 
}
.table-dark {
  border-radius: 8px 8px 0 0;
  overflow: hidden; 
}
th:first-child {
  border-top-left-radius: 8px !important; 
}
th:last-child {
  border-top-right-radius: 8px !important;
}
td, th {
  padding: 12px 15px; 
  vertical-align: middle; 
  text-align: center !important;
}
td input[type="number"] {
  width: 80px;
  text-align: center; 
}
tbody,th {
  border: 1px solid var(--primary-text-color) !important;
}
/* Section Desconto */
.desconto {
  box-shadow: 0 4px 10px var(--shadow-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
  background: var(--header-bg-color);
}
.input-group-custom { 
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: baseline !important;
  justify-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.label-custom {
  font-size: 1.25rem;
  text-align: center;
  display: flex;
}
.input-custom { 
  border-radius: 5px !important;
  text-align: center;
}
/* Estilização para o input date */
.data {
  border: 1px solid var(--primary-border-color);
  border-radius: 5px !important;
  padding: 6px 10px; 
  font-size: 1rem ;
  transition: all 0.3s ease-in-out !important ; 
  background-color: #f9f9f9 ;
  color: var(--primary-text-color);
}
.data:focus {
  border-color: #007bff ; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  outline: none;
}
/* Efeito hover em botoes */
.btn-hover{
  background: linear-gradient(90deg, #4CAF50, #2E8B57);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-hover:hover{
  background: linear-gradient(90deg, #2E8B57, #4CAF50);
  transform: scale(1.01);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
/* Modals */
#staticBackdrop .modal-header {
  --bs-modal-header-color:var(--alert-color) ;
  --bs-modal-header-border-color: var(--primary-bg-color) ;
  --bs-modal-header-border-width: 0px;
}
#staticBackdrop .modal-content{
  --bs-modal-color: var(--primary-bg-color);
  --bs-modal-border-color: var(--alert-color);
}
.modal-footer{
  --bs-modal-footer-border-width: 0px;
}
#warningModal .modal-header {
  --bs-modal-header-color:var(--warning-color) ;
  --bs-modal-header-border-color: var(--primary-bg-color) ;
  --bs-modal-header-border-width: 0px;
}
#warningModal .modal-content{
  --bs-modal-color: var(--primary-bg-color);
  --bs-modal-border-color: var(--warning-color);
}
#success .modal-header {
  --bs-modal-header-color:var(--secondary-text-color) ;
  --bs-modal-header-border-color: var(--primary-border-color) ;
  --bs-modal-header-border-width: 0px;
}
#success .modal-content{
  --bs-modal-color: var(--link-color);
  --bs-modal-border-color: var(--primary-border-color);
  --bs-modal-bg: var(--primary-text-color);
}
/* Rodapé */
footer p {
  margin: 0;
}
footer {
  padding: 0; 
  background-color: var(--primary-bg-color);
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 50px;
  border-top: 1px solid var(--primary-border-color);
}
