:root, :root[data-theme='dark'] {
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
  --primary-border-color: #2E8B57;
	--secondary-border-color: #4CAF50;

  --title-color: #F0F0F0;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #5bf577f1;
}


.bg {
  background: black;
  color: var(--primary-color);
}

.bg--nav{
  background: var(--primary-bg-color);
  color: var(--primary-color);
}

.navbar {
  box-shadow: 0 4px 6px var(--secondary-border-color);
}
.navbar-brand {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
}
.navbar-toggler-icon::before {
  content: "";
  display: block;
  width: 24px;
  height: 3px;
  background-color: var(--primary-border-color); 
  position: relative;
  top: 7px;
  left: 3px;
  box-shadow: 0 6px 0 var(--primary-border-color), 0 12px 0 var(--primary-border-color);
}
.navbar-toggler:hover .navbar-toggler-icon::before {
  padding: 2px ;
  background-color: #7fff7f; 
  box-shadow: 0 8px 0 #7fff7f, 0 16px 0 #7fff7f; 
}
.content-section {
  display: none;
}
.content-section.active {
  display: block;
}